h1{
	font-family: Agency FB; 
	font-size: 50px;
	color: #710803;
}

article li{
	font-family: Lucida Calligraphy;
	color: #020202;
	font-size: 20px;
}
article li strong{

	font-family:Britannic Bold;
	color:  #710803;
	font-size: 20px
}

aside{
	float: left;
	width: 30%;
	clear: both;
	color: #088A85;
	font-size: 20px

}
h2{
	color: #000000;
	font-family:Agency FB; 
	font-size: 30px;
}
aside li{
	font-family: Lucida Calligraphy;
	color:  #020202;
	font-size: 20px

}
aside li strong{
	font-family: Britannic Bold;
	color:  #710803;
	font-size: 20px
}
section{

	float: left;
	width: 70%;
}

#Formacion{
	float: left;
	width: 50%;
	color: #FFBF00;
	font-size: 30px;
	font-family: Agency FB; 
}
#Experiencia{
	float: left;
	width: 50%;
	color: #FFBF00;
	font-size: 30px;
	font-family: Agency FB; 
}
article li.actual{
	font-weight: bolder;
	font-size: 20px;

}
nav ul{
	padding: 0;
}
nav ul li {
	display: inline;
}
nav ul li a {
	font-family: Agency FB;
	font-size: 20px;
	text-decoration: none;
	float: left;
	padding: 10px;
	background-color: #000000;
	color: #8A0808;
}
nav ul li a:hover{
	background-color: #2586d7;
	margin-top: -2px;
	padding-bottom: 12px;
}
footer{
	clear: both;

}

@media (min-width: 400px) and (max-width: 1000px){
	body{
		font-family: Arial,sans-serif;
		
		
    }
	aside{
		float: left;
		width: 80%;
		clear: both;
	}

	section{
		float: left;
		width: 80%;
	}


	#Formacion{
		width: 100%;
	}
	#Experiencia{
		width: 100%
	}
}
@media(min-width: 601px)and(max-width:1000px){
	body{
		font-family: Arial,sans-serif;
	}
	aside{
		float: left;
		width: 40%;
		clear: both;
	}
	section{
		float: left;width: 60%;

	}
	#formacion{
		width: 100%;
	}
	#experiencia{
		width: 100%;
	}
}
	
	

	



